
#lng{
    position: absolute;
    right:80px;
    top: 30px;
}

#acc{
    position: absolute;
    right: 180px;
    top: 30px;
    color: black;
    font-size: x-large;
    
}

#cons{
    position: absolute;
    right: 270px;
    top: 30px;
    color: black;
    font-size: x-large;
} 
   
h2{
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
nav{
    background-image: url(./fin-de-virus-de-grippe-de-porcs-d-isolement-49076809.jpg) ;
}
header{
    background-color: yellow;
}
section{
    color: blue;
}
section{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
header{
    color: blue;
}