
#lng{
    position: absolute;
    right:80px;
    top: 30px;
}

#acc{
    position: absolute;
    right: 180px;
    top: 30px;
    color: black;
    font-size: x-large;
    
}

#cons{
    position: absolute;
    right: 270px;
    top: 30px;
    color: black;
    font-size: x-large;
} 
   

#st3{
    
    position: absolute;
    right: 120px;
    bottom: 150px;
    text-align: center;
}
 
#st2{ 
      position: absolute;
      bottom: 120px;
      right: 520px;
      text-align: center;

}
#st1{
    position: absolute;
    left: 120px;
    bottom: 150px;
    text-align: center;

}

.st6{
    position: absolute;
    right: 120px;
    bottom: 5px;
    text-align: center;
}
.st5{
    position: absolute;
    right: 560px;
    bottom: 10px;
    text-align: center;
}

.st4{
    position: absolute;
    left: 120px;
    bottom: 10px;
    text-align: center;
}   
h2{
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
nav{
    background-image: url(./fin-de-virus-de-grippe-de-porcs-d-isolement-49076809.jpg) ;
}
header{
    background-color: yellow;
}
section{
    color: blue;
}